  <app-navbar></app-navbar>
<div class="container mt-5">
  
  <div class="card shadow-lg p-4 col-md-6 mx-auto">
    <h4 class="text-center mb-4">Recuperar Contraseña</h4>

    <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Correo electrónico</label>
        <input
          type="email"
          class="form-control"
          placeholder="ejemplo@correo.com"
          formControlName="email"
        />
        <div *ngIf="submitted && recoveryForm.controls['email'].errors" class="text-danger mt-1">
          <small *ngIf="recoveryForm.controls['email'].errors['required']">
            El correo es obligatorio.
          </small>
          <small *ngIf="recoveryForm.controls['email'].errors['email']">
            Formato de correo inválido.
          </small>
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100">Enviar enlace</button>
    </form>

    <div *ngIf="message" class="alert alert-info mt-3 text-center">
      {{ message }}
    </div>
  </div>
</div>
